.logo-container {
    text-align: center;
}

.active {
    background-color: #144572;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 600ms;
    transition: margin-top 900ms;
}

.menu-link:hover {
    background-color: #F11212;
    margin-top: -5px;
}

.slogan {
    text-align: center;
    font-weight: lighter;
    margin: 10px;
}

.with-icon {
    gap: 5px;
    align-items: center;
}

.with-icon, .title-container, .logo-container, .head-image-container {
    display: flex;
}

.title-container {
    flex-direction: column;
    align-items: center;
}

.logo-container {
    flex-direction: row;
    gap: 17px;
}

.website-logo {
    width: 68px;
    height: 68px;
}

.social-icons-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    align-items: center;
}

.social-icon {
    font-size: 25px;
    transition: font-size 400ms;
}

.social-icon:hover {
    font-size: 33px;
}

.head-image-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    padding: 15px;
    background-color: #144572;
    color: white;
}

.head-image {
    border: 4px solid red;
}

.head-image-description {
    
}

/*.hero-image-text-description {
    margin-top: -33px;
}*/