@media (max-width: 900px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        padding-left: 7px;
        padding-right: 7px;
    }
    
    .mobile-flex {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .mobile-text {
        font-size: 24px;
    }

    .mobile-icon {
        font-size: 27px;
    }

    .mobile-hero-image {
        padding-bottom: 20px;
    }

    .mobile-website-title {
        font-size: 25px;
    }
}

.mobile-flex {
    display: flex;
    flex-direction: row;
}

.mobile-text {
    font-size: 19px;
}